@model IEnumerable<Core.AgendamedicamentoDTO>

@{
    ViewData["Title"] = "Index";
}

<h1 class="section-title">Agendamentos</h1>
<hr />

<a asp-action="Create" class="new-item-button">
    <i class="fas fa-plus-circle"></i> Novo Agendamento
</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Frequência
            </th>
            <th>
                Data de Início
            </th>
            <th>
                Data de Término
            </th>
            <th>
                Intervalo
            </th>
            <th>
                Pessoa
            </th>
            <th>
                Animal
            </th>
            <th>
                Medicamento
            </th>
            <th>
                Consulta
            </th>
            <th>
                Dosagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Frequencia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataInicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataTermino)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Intervalo)x/dia
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomePessoa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeAnimal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeMedicamento)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeConsulta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dosagem)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdAgendamento }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdAgendamento }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.IdAgendamento })
                </td>
            </tr>
        }
    </tbody>
</table>
