@model IEnumerable<Core.MedicamentoDTO>

@{
    ViewData["Title"] = "Medicamentos";
}

<h1>Medicamentos</h1>

<p>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome do Medicamento
            </th>
            <th>
                Espécie
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEspecie)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.IdMedicamento  }) |
                @Html.ActionLink("Consultar", "Details", new {  id=item.IdMedicamento  }) |
                @Html.ActionLink("Deletar", "Delete", new {  id=item.IdMedicamento  })
            </td>
        </tr>
}
    </tbody>
</table>
