@model IEnumerable<Core.AnimalDTO>

@{
    ViewData["Title"] = "Animais";
}

<h1 class="section-title">Animais</h1>
<hr />
<a asp-action="Create" class="new-item-button">
    <i class="fas fa-plus-circle"></i> Novo Animal
</a>
<table class="table">
    <thead>
        <tr>
            <th>
               Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                Especie
            </th>
            <th>
                Raça
            </th>
            <th>
               Data de Nascimento
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                Dono
            </th>
            <th>
                Organização
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EspecieAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Pessoa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organizacao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IdAnimal }) |
                @Html.ActionLink("Consultar", "Details", new { id = item.IdAnimal }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdAnimal })
            </td>
        </tr>
}
    </tbody>
</table>
