@model IEnumerable<Core.ConsultaDTO>
@{
    ViewData["Title"] = "Consultas";
}

<h1>Consultas</h1>

<p>
    <a asp-action="Create">Nova Consulta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Código
            </th>
            <th>
               Descrição
            </th>
            <th>
                Horário
            </th>
            <th>
               Data
            </th>
            <th>
               Preço
            </th>
            <th>
               Animal
            </th>
            <th>
                Dono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Animal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdPessoa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdConsulta }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdConsulta }) |
                @Html.ActionLink("Deletar", "Delete", new { id = item.IdConsulta })
            </td>
        </tr>
}
    </tbody>
</table>
