@model IEnumerable<Core.AplicamedicamentoDTO>

@{
    ViewData["Title"] = "Aplicações";
}

<h1>Aplicações</h1>

<p>
    <a asp-action="Create">Criar Nova Aplicação</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Medicamento
            </th>
            <th>
                Animal
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dosagem)
            </th>
            <th>
                Data de Aplicação
            </th>
            <th>
                Pessoa
            </th>
            <th>
                Ações
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMedicamento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeAnimal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosagem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataAplicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomePessoa)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdAplicaMedicamento }) |
                @Html.ActionLink("Consultar", "Details", new { id=item.IdAplicaMedicamento }) |
                @Html.ActionLink("Deletar", "Delete", new { id=item.IdAplicaMedicamento })
            </td>
        </tr>
}
    </tbody>
</table>
