@model IEnumerable<Core.ExameDTO>

@{
    ViewData["Title"] = "Exames";
}

<h1 class="section-title">Exames</h1>
<hr />
<a asp-action="Create" class="new-item-button">
    <i class="fas fa-plus-circle"></i> Novo Exame
</a>

<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th>
                Data
            </th>
            <th>
                Observações
            </th>
            <th>
                Consulta
            </th>
            <th>
                Animal
            </th>
            <th>
                Tipo de Exame
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdExame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Observacoes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Consulta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Animal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoExame)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.IdExame }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.IdExame }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.IdExame })
                </td>
            </tr>
        }
    </tbody>
</table>
